
body{
    width:100vw;
    height:auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
}
main{
    height: 70%;
    width:60%;
    display:flex;
    margin:auto;
    margin-top:10%;
}
.card{
    min-width:250px;

}
#cyan{
    background-color: hsl(184, 100%, 22%);
}
#orange{
    background-color:hsl(31, 77%, 52%);
}
#Darkcyan{
    background-color:  hsl(179, 100%, 13%);
}
#cyan-color{
    color:hsl(31, 77%, 52%);
}
#orange-color{
    
    color:rgb(10, 232, 158);
}
#Darkcyan-color{
    color:hsl(179, 100%, 13%);
}
.icon{
    margin:10%;
}
h2{
    font-family: Big Shoulders Display;
    color: aliceblue;
    margin:10%;
}
p{
    color: white;
    margin:10%;
}
button{
    margin-top:20%;
    margin:10%;
    padding:4%;
    border-radius: 25px;
    border-style: none;
}
@media screen and (max-width:575px){
   
    main{
        
        
        flex-direction: column;
        
    }
    .card{
        min-width: 350px;
    
    }
    
}